<template>
  <div class="hello">

    <!-- Navbar -->
    <Navbar/>
    <br>
    <!-- END of navbar -->

    <div class="container">

      <div class="row mb-3 align-middle">
        <div class="col-sm text-left">
          <h2 class="m-0 font-weight-bold">Profile</h2>
        </div>
        <div class="col-sm text-right">
          <button type="button" class="btn btn-success">
            <i class='fas fa-download' style='font-size:16px; color: white;'></i> Download as PDF
          </button>
        </div>
      </div>

      <div class="row">
        <!-- Biodata -->
        <div class="col-md-4 mb-3" >
          <div class="card container">
            <div class="card-body">
              <div class="text-right">
                <a href="#">
                  <span><p>Edit profile <i class='far fa-edit' style='color: rgb(117, 117, 117)'></i></p></span>
                </a>
              </div>
              <div class="container">
                <img src="http://www.fifgroup.co.id/assets/uploads/page/thumbs/2f411-profil-komite.jpg" class="img-fluid rounded" alt="photo-profile">
              </div>
              <h4 class="bold mt-3 font-weight-bold">Budi Sudarsono</h4>
              <p>Front-End Engineer at Mindzzle</p>

              <hr>

              <div class="text-left">
                <h5 class="font-weight-bold">About</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>

                <h5 class="mt-4 font-weight-bold">Contact Information</h5>

                <h6 class="font-weight-bold">E-mail Address:</h6>
                <p>budisudarsono@email.com</p>

                <h6 class="font-weight-bold">Phone Number:</h6>
                <p>08989898989</p>

                <h6 class="font-weight-bold">Address:</h6>
                <p>Jl. Haji Naim Cipete, Fatmawati, Jakarta Selatan</p>
              </div>

            </div>
          </div>
        </div>
        <!-- END of Biodata -->

        <!-- Samping kanan biodata -->
        <div class=" col-md-8 mb-3">
          <div class="container">
            <!-- Top 5 skills -->
            <div class="card row mb-3">
              <div class="container pt-4 pl-4 pr-4 text-left">
                <h5 class="text-left font-weight-bold mb-3">Top 5 Skills</h5>

                <!-- Row 1 -->
                <div class="row">
                  <div class="col-sm-3">
                    <p>JavaScript</p>
                  </div>
                  <div class="col-sm-7">
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                  </div>
                  <div class="col-sm-2">
                    <span class="badge badge-success" style="width: 90px;">Verified</span>
                  </div>
                </div>

                <!-- Row 2 -->
                <div class="row">
                  <div class="col-sm-3">
                    <p>Angular JS</p>
                  </div>
                  <div class="col-sm-7">
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                  </div>
                  <div class="col-sm-2">
                    <span class="badge badge-success" style="width: 90px;">Verified</span>
                  </div>
                </div>

                <!-- Row 3 -->
                <div class="row">
                  <div class="col-sm-3">
                    <p>CSS</p>
                  </div>
                  <div class="col-sm-7">
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                  </div>
                  <div class="col-sm-2">
                    <span class="badge badge-secondary" style="width: 90px;">Not Verified</span>
                  </div>
                </div>

                <!-- Row 4 -->
                <div class="row">
                  <div class="col-sm-3">
                    <p>SaSS</p>
                  </div>
                  <div class="col-sm-7">
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                  </div>
                  <div class="col-sm-2">
                    <span class="badge badge-secondary" style="width: 90px;">Not Verified</span>
                  </div>
                </div>

                <!-- Row 5 -->
                <div class="row">
                  <div class="col-sm-3">
                    <p>React Native</p>
                  </div>
                  <div class="col-sm-7">
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='fas fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                    <i class='far fa-star' style='color:#FFBD00'></i>
                  </div>
                  <div class="col-sm-2">
                    <span class="badge badge-secondary" style="width: 90px;">Not Verified</span>
                  </div>
                </div>

                <hr>

                <div class="container text-center">
                  <a href="#">
                    <p>Show more <i class='fas fa-angle-down' style=''></i></p>
                  </a>
                </div>

              </div>
            </div>

            <!-- Tombol-tombol pilihan -->
            <div class="card row mb-3">
              <div class="btn-group">
                <button type="button" class="btn btn-warning" @click="switch_tab('experiences')">Experiences</button>
                <button type="button" class="btn btn-warning" @click="switch_tab('educations')">Educations</button>
                <button type="button" class="btn btn-warning" @click="switch_tab('achievements')" >Achievements</button>
                <button type="button" class="btn btn-warning" @click="switch_tab('certifications')">Certifications</button>
              </div>
            </div>

            <!-- Isi dari tab-tabnya -->
            <div class="row mb-3">
              <div class="card">

                <!-- Experiences Tab -->
                <div class="mt-1" id="experience-tab" v-if="experiences_flag">
                  <div class="container text-right">
                    <a href="#">
                      <span><p>Edit <i class='far fa-edit' style='color: rgb(247, 209, 30)'></i></p></span>
                    </a>
                  </div>

                  <!-- 1 baris Experiences (1)-->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="container">
                        <img src="https://images.glints.com/unsafe/1024x0/glints-dashboard.s3.amazonaws.com/company-logo/7a3a3a21d708585ed94bcca08f1a75ce.png" class="img-fluid" alt="mindzzle-logo">
                      </div>
                    </div>

                    <div class="col-sm-9 text-left">
                      <div class="container">
                        <div class="text-right">
                          <span class="badge badge-success" style="width: 90px;"> Verified</span>
                        </div>
                        <h5 class="font-weight-bold">Front-End Engineer</h5>
                        <p class="m-0" style="color: #E96F24;">
                          Mindzzle
                        </p>
                        <p>
                          Sep 2018 - present <br>
                          Jakarta, Indonesia
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <!-- 1 baris Experiences (2)-->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="container">
                        <img src="https://images.glints.com/unsafe/1024x0/glints-dashboard.s3.amazonaws.com/company-logo/7a3a3a21d708585ed94bcca08f1a75ce.png" class="img-fluid" alt="mindzzle-logo">
                      </div>
                    </div>

                    <div class="col-sm-9 text-left">
                      <div class="container">
                        <div class="text-right">
                          <span class="badge badge-secondary" style="width: 90px;">Not Verified</span>
                        </div>
                        <h5 class="font-weight-bold">Front-End Engineer</h5>
                        <p class="m-0" style="color: #E96F24;">
                          Mindzzle
                        </p>
                        <p>
                          Sep 2018 - present <br>
                          Jakarta, Indonesia
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="text-center">
                    <a href="#">
                      <p>Show more <i class='fas fa-angle-down' style=''></i></p>
                    </a>
                  </div>

                </div>
                <!-- END of Experiences Tab -->

                <!-- Educations Tab -->
                <div class="mt-1" id="educations-tab" v-if="educations_flag">
                  <div class="container text-right">
                    <a href="#">
                      <span><p>Edit <i class='far fa-edit' style='color: rgb(247, 209, 30)'></i></p></span>
                    </a>
                  </div>

                  <!-- baris (1)-->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="container">
                        <img src="https://upload.wikimedia.org/wikipedia/id/thumb/9/95/Makara_UI.png/1200px-Makara_UI.png" class="img-fluid" alt="logo">
                      </div>
                    </div>

                    <div class="col-sm-9 text-left">
                      <div class="container">
                        <div class="text-right">
                          <span class="badge badge-success" style="width: 90px;"> Verified</span>
                        </div>
                        <h5 class="font-weight-bold">Universitas Indonesia</h5>
                        <p class="m-0" style="color: #E96F24;">
                          Bachelor of Computer Science
                        </p>
                        <p>
                          Sep 2018 - present
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <!-- baris (2)-->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="container">
                        <img src="https://images.glints.com/unsafe/1024x0/glints-dashboard.s3.amazonaws.com/company-logo/7a3a3a21d708585ed94bcca08f1a75ce.png" class="img-fluid" alt="mindzzle-logo">
                      </div>
                    </div>

                    <div class="col-sm-9 text-left">
                      <div class="container">
                        <div class="text-right">
                          <span class="badge badge-secondary" style="width: 90px;">Not Verified</span>
                        </div>
                        <h5 class="font-weight-bold">Front-End Engineer</h5>
                        <p class="m-0" style="color: #E96F24;">
                          Mindzzle
                        </p>
                        <p>
                          Sep 2018 - present <br>
                          Jakarta, Indonesia
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="text-center">
                    <a href="#">
                      <p>Show more <i class='fas fa-angle-down' style=''></i></p>
                    </a>
                  </div>

                </div>
                <!-- END of Educations Tab -->

                <!-- Achievements Tab -->
                <div class="mt-1" id="achievements-tab" v-if="achievements_flag">
                  <div class="container text-right">
                    <a href="#">
                      <span><p>Edit <i class='far fa-edit' style='color: rgb(247, 209, 30)'></i></p></span>
                    </a>
                  </div>

                  <!-- baris (1)-->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="container">
                        <img src="https://upload.wikimedia.org/wikipedia/id/thumb/9/95/Makara_UI.png/1200px-Makara_UI.png" class="img-fluid" alt="mindzzle-logo">
                      </div>
                    </div>

                    <div class="col-sm-9 text-left">
                      <div class="container">
                        <div class="text-right">
                          <span class="badge badge-success" style="width: 90px;"> Verified</span>
                        </div>
                        <h5 class="font-weight-bold">Most Outstanding Student 2019</h5>
                        <p class="m-0" style="color: #E96F24;">
                          Universitas Indonesia
                        </p>
                        <p>
                          2019
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <!-- baris (2)-->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="container">
                        <img src="https://images.glints.com/unsafe/1024x0/glints-dashboard.s3.amazonaws.com/company-logo/7a3a3a21d708585ed94bcca08f1a75ce.png" class="img-fluid" alt="mindzzle-logo">
                      </div>
                    </div>

                    <div class="col-sm-9 text-left">
                      <div class="container">
                        <div class="text-right">
                          <span class="badge badge-secondary" style="width: 90px;">Not Verified</span>
                        </div>
                        <h5 class="font-weight-bold">Front-End Engineer</h5>
                        <p class="m-0" style="color: #E96F24;">
                          Mindzzle
                        </p>
                        <p>
                          Sep 2018 - present <br>
                          Jakarta, Indonesia
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="text-center">
                    <a href="#">
                      <p>Show more <i class='fas fa-angle-down' style=''></i></p>
                    </a>
                  </div>

                </div>
                <!-- END of Achievements Tab -->

                <!-- Certifications Tab -->
                <div class="mt-1" id="certifications-tab" v-if="certifications_flag">
                  <div class="container text-right">
                    <a href="#">
                      <span><p>Edit <i class='far fa-edit' style='color: rgb(247, 209, 30)'></i></p></span>
                    </a>
                  </div>

                  <!-- baris (1)-->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="container">
                        <img src="https://images.glints.com/unsafe/1024x0/glints-dashboard.s3.amazonaws.com/company-logo/7a3a3a21d708585ed94bcca08f1a75ce.png" class="img-fluid" alt="mindzzle-logo">
                      </div>
                    </div>

                    <div class="col-sm-9 text-left">
                      <div class="container">
                        <div class="text-right">
                          <span class="badge badge-success" style="width: 90px;"> Verified</span>
                        </div>
                        <h5 class="font-weight-bold">JavaScript Certification</h5>
                        <p class="m-0" style="color: #E96F24;">
                          Mindzzle
                        </p>
                        <p>
                          Sep 2018 - present <br>
                          Jakarta, Indonesia
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <!-- baris (2)-->
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="container">
                        <img src="https://images.glints.com/unsafe/1024x0/glints-dashboard.s3.amazonaws.com/company-logo/7a3a3a21d708585ed94bcca08f1a75ce.png" class="img-fluid" alt="mindzzle-logo">
                      </div>
                    </div>

                    <div class="col-sm-9 text-left">
                      <div class="container">
                        <div class="text-right">
                          <span class="badge badge-secondary" style="width: 90px;">Not Verified</span>
                        </div>
                        <h5 class="font-weight-bold">Front-End Engineer</h5>
                        <p class="m-0" style="color: #E96F24;">
                          Mindzzle
                        </p>
                        <p>
                          Sep 2018 - present <br>
                          Jakarta, Indonesia
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="text-center">
                    <a href="#">
                      <p>Show more <i class='fas fa-angle-down' style=''></i></p>
                    </a>
                  </div>

                </div>
                <!-- END of Certifications Tab -->


              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Navbar from './Navbar.vue'


export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  components: {
    Navbar,
  },

  data() {
    return {
      experiences_flag: true,
      educations_flag: false,
      achievements_flag: false,
      certifications_flag: false,
    }
  },

  methods: {
    switch_tab(button) {
      if (button == "experiences") {
        this.experiences_flag = true
        this.educations_flag = false
        this.achievements_flag = false
        this.certifications_flag = false
      }
      else if (button == "educations") {
        this.experiences_flag = false
        this.educations_flag = true
        this.achievements_flag = false
        this.certifications_flag = false
      }
      else if (button == "achievements") {
        this.experiences_flag = false
        this.educations_flag = false
        this.achievements_flag = true
        this.certifications_flag = false
      }
      else if (button == "certifications") {
        this.experiences_flag = false
        this.educations_flag = false
        this.achievements_flag = false
        this.certifications_flag = true
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
