<template>
  <div id="app">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->

    <!-- NEW TEMPLATE -->

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left text-left" style="width:200px;" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large w3-hide-large" @click="w3_close()">Close &times;</button>
      <div class="container-fluid mb-3" style="background-color: #e96f24;">
        <img src="./assets/mindzzle-logo.png" class="img-fluid mt-2 mb-2" alt="mindzzle-logo">
      </div>
      <div class="container-fluid mb-2">
        MAIN MENU
      </div>
      <a href="#" class="w3-bar-item w3-button"><i class='fas fa-building fa-lg mr-3'></i>Profile</a>
      <a href="#" class="w3-bar-item w3-button"><i class='fas fa-chart-bar fa-lg mr-3'></i>Dashboard</a>
      <a href="#" class="w3-bar-item w3-button"><i class='fas fa-user fa-lg mr-3'></i>Employee</a>
      <a href="#" class="w3-bar-item w3-button"><i class='fas fa-user-friends fa-lg mr-2'></i>Hierarchy</a>
      <a href="#" class="w3-bar-item w3-button"><i class='fas fa-list-ul fa-lg mr-3'></i>Job Posting</a>
    </div>

    <div class="w3-main" style="margin-left:200px">
      <div class="w3-teal text-left mobile-sidebar" id="mobile-sidebar">
        <button class="w3-button w3-teal w3-xlarge w3-hide-large mobile-sidebar" @click="w3_open()">&#9776; Sidebar</button>
      </div>

      <!-- The Whole Content -->
      <div class="w3-container p-0">
        <Profile/>
      </div>
      <!-- END The Whole Content -->
    </div>

    <!-- NEW TEMPLATE -->
  </div>
</template>

<script>
import Profile from './components/Profile.vue'
// import Navbar from './components/Navbar.vue'

export default {
  name: 'app',
  components: {
    Profile,
    // Navbar,
  },
  methods: {
    w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    },
    w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
  },
}
</script>

<style>
#app {
  /* font-family: 'Avenir', Nunito, Helvetica, Arial, sans-serif; */
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}

#mySidebar {
  background-color: #1d232a !important;
  color: white;
}

.mobile-sidebar {
  background-color: #1d232a !important;
}
</style>
